/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {

}

.TitleText {
    color: black;
    font-weight: 900;
    font-size: larger;
    padding: 5px;
}